<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>307995257524-rv962kv6bqb4uobac3698dm6pk18u92v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.307995257524-rv962kv6bqb4uobac3698dm6pk18u92v</string>
	<key>API_KEY</key>
	<string>AIzaSyBJrnIDjfsa50m4XEiAvy1qVfv1l83OpoQ</string>
	<key>GCM_SENDER_ID</key>
	<string>307995257524</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ktguru</string>
	<key>PROJECT_ID</key>
	<string>ktguru-2da84</string>
	<key>STORAGE_BUCKET</key>
	<string>ktguru-2da84.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:307995257524:ios:c56d0b5f8c8f629ec6c5e1</string>
</dict>
</plist>